* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  /*position: sticky;*/
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.rows {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  max-width: 80%;
  float:left;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  max-width: 100%;
}

/* Fake image, just for this */
.fakeimg {
  background-color: #e8e8e8;
  width: 90%;
  float:left;
  padding: 20px;
}

.fakeimg1 {
  background-color: #e8e8e8;
  min-width: 57%;
  width: 80%;
  padding: 20px;
}

.fakeimg2 {
  background-color: #e8e8e8;
  min-width: 76%;
  width: 100%;
  padding: 20px;
}

.fakeimg3 {
  background-color: #e8e8e8;
  width: 145%;
  float:left;
  padding: 20px;
}

.fakeimg4 {
  background-color: #e8e8e8;
  min-width: 72%;
  width: 93%;
  padding: 20px;
}

.fakeimg5 {
  background-color: #e8e8e8;
  min-width: 66%;
  width: 85%;
  padding: 20px;
}

.fakeimg6 {
  background-color: #e8e8e8;
  min-width: 64%;
  width: 85%;
  padding: 20px;
}

.fakeimg7 {
  background-color: #e8e8e8;
  min-width: 79%;
  width: 100%;
  padding: 20px;
}

.fakeimg8 {
  background-color: #e8e8e8;
  /*min-width: 35%;*/
  width: 100%;
  padding: 20px;
}
/* Footer */
.footer {
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
     overflow-x: hidden;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.fon
{
  background-color: white;
}

.but
{
  background-color: #b0acac;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 100%;

}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #f1f1f1;
}

.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.head1 {
  text-align: center;
  vertical-align: center;
  position: center;
  flex: center;
  align-self: center;
}

.th1 {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #f1f1f1;
  width: 30%;
}

.th3 {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #f1f1f1;
  width: 47%;
}

.th2 {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #f1f1f1;
  width: 10%;
}

.table3 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.throw
{
  background-color: #dddddd;
}

.scrollit {
  height: 500px;
  overflow:scroll;
  width: 62.5%;
  margin-left: 250px;
}

.scrollit1 {
  height: 500px;
  overflow:scroll;
  width: 99%;
  margin-left: 7px;
}

.scrollit2 {
  height: 500px;
  overflow:scroll;
  width: 70%;
  margin-left: 220px;
}

#optons
{
  height: 5em;
  max-width:100%;
  min-height:50%; 
  display: block;
  margin: 0 auto;
  width: 100%;
}

.rezForm
{
  max-width: 20%;
  position: sticky;
  float:right;
  padding-right: 20px;
}

.rezForm1
{
  max-width: 40%;
  padding: 20px;
  margin: auto;
}
.rezLabel
{
  float:right;
}

.rezButton
{
  text-align: center;
}

.cent
{
  width: 110%;
  float:left;
  display: flex;
}

.fk
{
  width: 40%;
  float: right;
  padding-top: -20px;
}

